python -m venv venv
# activate venv:
# Windows:
venv\Scripts\activate
# macOS / Linux:
source venv/bin/activate

pip install mediapipe opencv-python scikit-learn joblib customtkinter pillow
pip freeze 
